
 .car {
  display: flex;
  flex-direction: column;
  max-width: 431px;
  width: 100%;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 0 5px #ccc;
  margin: 60px;
  cursor: pointer;
  background: white;
}

.car:hover {
  box-shadow: 0 0 21px rgba(33,33,33,.2); 
}

.car img{
  width: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}

.cartBox img {
  width:20px;
  height:20px;   
  padding:0;
  margin:0;
  fill: black;
}
/* .car img:hover{
  width: 100%;
  height: 100%;
  max-height: 162px;
  display: block;
  object-fit: cover;
} */

.car .boxDetails{
  max-width: 500px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  margin: 30px 0 15px 0;
}
.boxDetails h2{
  font-family: 'Lato';
  color:#030303;
  font-size: 19px;
}

.boxDetails p{
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 50px;
}
.boxDetails h3{
  color:#030303;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  }
  /* .car .boxDetails h4{
    color: crimson;
    font-size: 1rem;
  } */

  .car .boxDetails h4{
    display: flex;
    justify-content: space-between;
    color:#030303;
    font-size: 1rem;
  }

  .car .boxDetails .isdiscount {
    /* color: crimson; */
    color: #FE7F50;
    font-size: 1rem;
  }
  .car .boxDetails .undiscount{
    color:black;
    font-size: 1rem;
  }

.car .boxDetails button{
  cursor: pointer;
  padding-right: 50px;
}

.car .boxDetails button:hover{
  background: #afafaf;
  color: #333;
}

.imageBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.purchasedBox {
  background-color: #FE7F50;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  transform:translate(-25%);
}

span.notPurchased {
  visibility: hidden;
}

span.purchased {
  visibility: visible;
}

@media (max-width: 500px){
  .boxDetails{
    padding: 0;
  }
  .boxDetails img{
    width: 40px;
    height: 35px;
  }
  .details .img-container{
    height: 350px;
  }
}