* { box-sizing: border-box; }

.cart-container {
  display: flex;
  height: auto;
  margin-top: 1vh;
}

.cart-container:first-child { 
  margin-top: 10vh;
}

.product-image {
  position: relative;
}

.product-image img {
 width: 200px;
 height: 150px;
 margin-right: 30px;
}

.cart-price {
  margin: 10px auto 10px auto;
  font-size: 1rem;
}

.product-info {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  width: 30%;
  font-size: 1rem;
}

.product-model {
  font-size: 2rem;
  color: black;
}

.make-year {
  height: 50%;
}

.make-year p { 
display: inline-block; 
}

.make-year p:nth-child(3) { float:left; }
.make-year p:nth-child(4) { float:right; }

.miles-city {
  margin-top: -20px;
  height: auto;
}

.miles-city p {
  display: inline-block;
}

.miles-city p:nth-child(1) { float:left; }
.miles-city p:nth-child(2) { float:right; }

.price-remove {
  align-content: flex-end;
  display: flex;
  width: 10vw;
  height: 10vw;
}


.remove-product {
  margin-top: 3vw;
  margin-left: 2vw;
  padding: 20px;
}


.remove-product span {
   margin-top: 50px;
  margin-right: 10px;
}
.trashcan {
  cursor: pointer;
}

span.discountTag {
  position: absolute;
  top:20px;
  left: 20px;
  height: 50px;
  width: 50px;
  background-color: #FE7F50;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 12px 5px;
  font-weight: 600;
}

span.isdiscount {
  visibility: visible;
}

span.undiscount{
  visibility: hidden;
}

