.cartPage-style {
  display: grid;
}

.cart-rubrik {
  margin: 10px auto 10px auto;
  font-size: 2rem;
}

.shipping-field {
  position: fixed;
}

.buyButton {
  background-color: #FE7F50 ;
  position: absolute;
  bottom: 5px;
  right: 15px;
  width: 100px;
  padding: 5px;
  border: none;
}

@media (max-width: 768px){
  .buyButton {
    position: relative;
    top: 15px;
    left: 15px;
    margin-bottom: 50px;
  }
}