.cartPage-style {
  background: #F5F7F6;
  display: grid;
}

.cart-rubrik {
  margin: 10px auto 10px auto;
  font-size: 2rem;
}

.product-container {
  margin:5px; 
  padding:5px; 
  width: auto; 
  height: 38vw; 
  overflow: scroll; 
  text-align:justify; 
}

.forms {
  margin-top: 25px;
  padding: 10px;
  background-color: white;
}

.shipping-field {
  position: fixed;
}

.buyButton {
  background-color: #FE7F50 ;
  width: 100%;
  border: none;
  color:#fff;
}
