/*Login.js and Register.js style*/
.errorBox {
    display: none;
}

.errorBox.active {
    display: block;
}

.errorBox.inactive {
    display: none
}

.singInButton {
    background-color: #FE7F50 ;
    width: 30%;
    border: none;
}

  /* LoginPage.js style*/
.toggleText{
    cursor: pointer;
    margin-top:2rem;
    text-align: center;
    text-decoration: underline;
}

.toggleText:hover{
    color:#FE7F50
}