.h1 {
  text-align: center;
}

.hrcolor {
  border-color: #FE7F50;
}

.box{
  height: max-content;
  /* margin-bottom: 50rem; */
}

.box2 {
  margin-bottom: 50rem;
  /* border: 1px solid lightgrey;
  padding: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem; */
}

.boxfirst {
  border: 1px solid lightgrey;
  padding: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  /* margin-bottom: 20rem; */
}

.details {
  text-align: center;
}

