.product-page {
    margin: 50px auto 0 auto;
}

.image-container img {
    width: 100%;    
}

.product-details .product-heading {
    font-size: 44px;
    color: #707070;
}

.product-details .product-info {
    font-size: 24px;
    color: #707070;
}

.product-details p {
    font-size: 14px;
    color: #707070;
    max-width: 400px;
}

.product-details .product-price {
    margin-right: 100px;
}

.product-details button {
    padding: 10px 20px;
    background-color: #707070;
    color: white;
    border: none;
}