/* @keyframes changeLetter {
  0% {
    content: "You're logged in";
  }
  50% {
    color: #FE7F50;
  }
  100% {
    content: "Contact us 24/7";
  }
} */

.pContact {
  color:white;
  /* background-color: #FE7F50;  */
  font-size: 1rem;
}

.pContact::after {
  content:"";
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    content:"ipsum";
  }
  10% {
    content:"dolor";
  }
  20% {
    content:"sit";
  }
  30% {
    content:"amet";
  }
  40% {
    content:"consectetur";
  }
  50% {
    content: "adipisicing";
  }
  60% {
    content: "elit";
  }
  70% {
    content: "Hic";
  }
  80% {
    content: "atque";
  }
  90% {
    content: "fuga";
  }
}

/* .pContact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  color: white;
  background-color: #FE7F50;
  font-size: 1rem; 
} */

/* .pContact::after {
  animation: changeLetter 3s linear infinite alternate; */
  /* display: block;
  content: "You're logged in";
  color: white;
  font-size: 1rem;  */
/* } */

/* .pContact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    color: white;
    &:after {
      animation: changeLetter 3s linear infinite alternate;
      display: block;
      content: "You're logged in";
      font-size: 1rem;  
    }
} */
/* .pContact{
  position: relative;
  animation: move 3s;
  -webkit-animation: move 6s;
  color: white;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    margin-left: 1500%;
    width: 1400%;  */
    /* animation-iteration-count: infinite; */
  /* }

  to {
    margin-left: 1050%;
    width: 500%;
  }
} */
            
/* @-webkit-keyframes move {
  from {
    margin-left: 1100%;
    width: 1000%; 
  }

  to {
    margin-left: 100%;
    width: 500%;
  }
} */