body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.shipping-header {
  font-size: 1.5rem;
  margin-left: 15px;
}

.billing-header {
  font-size: 1.5rem;
  margin-left: 15px;
}

.cart-price {
  margin-left: 15px;
}

input[type="range"].range-slider::-moz-range-thumb {
  background: #FE7F50;
}

