@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato','Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
  font-family:'Roboto'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.shipping-header {
  font-size: 1rem;
  margin-left: 15px;
}

.billing-header {
  font-size: 1rem;
  margin-left: 15px;
}

.cart-price {
  margin-left: 15px;
  margin-top: -10px;
}

.carlist-container {
  display: grid;
  text-align: center;
  background: #F5F7F6;
}

